@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

@darkblue: #222831;
@lightblue: #384456;
@green: #24A39D;
@green-dark: #276c69;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 110vh;
    background-color: @darkblue;
    position: relative;
}

h1, h2 {
    font-family: 'Grand Hotel', cursive;
    font-size: 3.8rem;
}

.navbar {
    height: 5em;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: @darkblue;
}

.logo {
    width: 200px;
    height: auto;
    padding: 20px;
}

.shape-vawe {
    width: 100%;
    position: absolute;
    bottom: -5px;
}

.shape-vawe-top {
    width: 100%;
}

.coffee-main-image {
    position: absolute;
    right: 0;
    bottom: -3px;
    z-index: 0;
    opacity: 0.6;
}

.main-text {
    padding: 1.8em;
    position: relative;
    z-index: 1;
    margin-top: 11px;

    h1 {
        font-size: 5em;
    }

    .main-info {
        padding: 1em;

        h3 {
            text-transform: uppercase;
            font-size: 1.6rem;
        }

        p {
            letter-spacing: 1px;
            margin: 1.8em 0;
        }
    }
}

.names {
    padding: 1em 0;
}

.order-button-green {
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: @green;
    font-weight: 600;
    font-size: 1.3em;
    transition: all .3s ease;

    &:hover {
        background-color: @green-dark;
        -webkit-box-shadow: inset 0px 0px 11px -4px #000000; 
        box-shadow: inset 0px 0px 11px -4px #000000;
    }
}

.image-branch {
    img {
        margin: 1.8rem 0;
    }
}

.order-button-blue {
    padding: 12px 30px;
    border-radius: 10px;
    background-color: @darkblue;
    font-weight: 600;
    font-size: 1.3em;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        background-color: @lightblue;
        -webkit-box-shadow: inset 0px 0px 11px -4px #000000; 
        box-shadow: inset 0px 0px 11px -4px #000000;
    }
}

.green-background {
    height: auto;
    background-color: @green;
    text-align: center;
    padding-top: 1rem;
}

.blue-background {
    height: auto;
    background-color: @darkblue;
    text-align: center;
}

.style-center {

    .order-green-color-button, .order {
        width: 50%;
        margin: 1.4em auto 0 auto;
    }

    .image-coffee img {
        width: 80%;
        margin: 3em 0;
    }

    .text {
        font-size: large;
        padding: 1.5rem;

    }
}

.shape-wave2 {
    width: 100%;
    display: block;
    background-color: @darkblue;
}

.image-voucher {
    margin: 1em 0;

    img {
        max-width: 90%;
    }
}

.voucher-button {
    width: 70%;
    margin: 0 auto;
}

.image-reviews   {
    margin: 2em 0;
}

.ella {
    display: none;
}

.footer {
    display: flex;
    flex-direction: column;

    img {
        width: 60%;
        margin: 0 auto;
        padding: 3rem 0;
    }

    ul {
        padding: .8em;

        li {
            padding: 5px;
        }
    }
}

footer {
    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0;
    }
}

// menu
.menu-container {
    flex: 1;
    text-align: center;
}

.menu-icon {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 2rem;
    transition: all 0.4s linear;

    &:hover {
        cursor: pointer;
        color: @green;
    }
}

#menu-toggle {
    display: none;
}


.menu {
    position: absolute;
    left: 0;
    top: 5rem;
    padding: 20px;
    background-color: @darkblue;
    margin: 0;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0s linear 0.4s;
    z-index: 4;
}

#menu-toggle:checked ~ .menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.menu li {
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#menu-toggle:checked ~ .menu li {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
    padding: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all .4s linear;

    &:hover {
        color: @green;
    }
}

.fa-brands {
    padding-top: .8em;
    font-size: 1.6em;
}

@media only screen and (min-width: 992px) {
    // 

    .navbar {
        position: fixed;
      }

    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: @darkblue;
        width: 100vw;
    }
      
      .menu-icon {
        display: none;
      }
      
      .menu {
        visibility: visible;
        opacity: 1;
        position: inherit;
        right: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
        background-color: @darkblue;
      }
    
    // 
    header {
        width: 100%;
        height: 105vh;
        background-color: @darkblue;
        color: #fff;
        position: relative;
    }
    
    h1, h2 {
        font-family: 'Grand Hotel', cursive;
    }
    
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: right;
        font-weight: 600;
        padding-top: 2em;
    
        li {
            padding: .3rem 1.3em;
            line-height: 3em;
            opacity: 1;

            &:last-child {
                margin-right: 5em;
            }
    
            a {
                color: #fff;
                font-size: 1.1rem;
                transition: all .3s linear;
    
                &:hover {
                    color: @green;
                }
            }
            
        }
    }
    
    .logo {
        width: 225px;
        height: auto;
        padding-top: 2em;
    }
    
    .shape-vawe {
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    
    .coffee-main-image {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 1rem;
        z-index: 0;
    }
    
    .main-text {
        padding: 11em 8em;
    
        h1 {
            font-size: 8rem;
        }
    
        .main-info {
            width: 47%;
            padding: 1em;
        }
    }

    .green-background {
        width: 100%;
        display: flex;

        .center-section-flex {
            flex-direction: column;
            justify-content: center;
        }

        .style-center {
            width: 100%;
            display: flex;
    
            .image-coffee img {
                width: 60%;
            }
    
            .flex1 {
                position: relative;
                float: left;
                top: 66%;
                left: 28%;
                transform: translate(-50%, -50%);
            }
    
            h2 {
                font-size: 6.8em;
            }
    
            .flex1, .flex2 {
                width: 50%;
            }
    
            .flex1 .order {
                width: 35%;
            }

            .text { text-align: right; margin-right: 4rem; width: 90%;}
        }
        
    }

    .center-section {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .blue-background {
        width: 100%;
        display: block;

        .style-center {
            width: 100%;
            display: flex;
        }

        .text { text-align: left; margin-left: 4rem; width: 90%;}

        .image-coffee img {
            width: 60%;
        }
    
        .flex1 {
            position: relative;
            float: left;
            top: 66%;
            left: 28%;
            transform: translate(-58%, 25%);
        }
    
        h2 {
            font-size: 6.8em;
        }
    
        .flex1, .flex2 {
            width: 50%;
        }
    
        .flex1 .order {
            width: 35%;
        }

        .voucher-button {
            width: 35%;
            margin: 0 auto;
        }

        .image-voucher {
            margin-bottom: 2em;
        }

        .reviews {
            display: flex;

            .names {
                padding: 3em;

                .text {
                    text-align: center;
                }
            }
        }

        .image-reviews {
            width: 80%;
            margin: 0 auto;
        }
        
    }
  
    .footer {
        flex-direction: row;
        margin:  0 auto;

        h3 {
            margin: 15px 0;
        }
        
        img {
            margin-right: 13em;
            width: 350px;
            height: 75%;
        }
    }

    .footer-icons {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 3rem;
    }
} 